In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "purchase_data.csv"

In [3]:
data_file_pd = pd.read_csv(file)
data_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
PlayerCount = len(data_file_pd["SN"].unique())
playercount_disp = pd.DataFrame({"Player Count": [PlayerCount]})
playercount_disp

   Player Count
0           576

In [5]:
# Data manipulaton
UniqueItems = len(data_file_pd["Item Name"].unique())
AvgPurchase = data_file_pd["Price"].mean()
NumPurchase = len(data_file_pd["Item Name"])
Revenue = data_file_pd["Price"].sum()

# Create new DataFrame
Purchasing_Analysis_Total = pd.DataFrame({"Number of Unique Items": [UniqueItems],
                                           "Average Price": [AvgPurchase],
                                           "Number of Purchases": [NumPurchase],
                                           "Total Revenue": [Revenue]})

# DataFrame formatting
Purchasing_Analysis_Total["Average Price"] = Purchasing_Analysis_Total["Average Price"].map("${:.2f}".format)
Purchasing_Analysis_Total["Total Revenue"] = Purchasing_Analysis_Total["Total Revenue"].map("${:.2f}".format)
Purchasing_Analysis_Total = Purchasing_Analysis_Total[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

Purchasing_Analysis_Total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [6]:
# Data manipulation
duplicate = data_file_pd.drop_duplicates(subset='SN', keep="first")
TotalGen = duplicate["Gender"].count()
MaleGen = duplicate["Gender"].value_counts()['Male']
FemaleGen = duplicate["Gender"].value_counts()['Female']
NonGen = TotalGen - MaleGen - FemaleGen

MalePer = (MaleGen / TotalGen) * 100
FemalePer = (FemaleGen / TotalGen) * 100
NonPer = (NonGen / TotalGen) * 100

# Create new DataFrame
Gender_Demo = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                            "Percentage of Players": [MalePer, FemalePer, NonPer],
                            "Total Count": [MaleGen, FemaleGen, NonGen]})

# DataFrame formatting
Gender_Demo["Percentage of Players"] = Gender_Demo["Percentage of Players"].map("{:.2f}%".format)
Gender_Demo = Gender_Demo.set_index('')
Gender_Demo

                    Percentage of Players  Total Count

Male                               84.03%          484
Female                             14.06%           81
Other/Non-Disclosed                 1.91%           11