In [10]:
import pandas as pd
import numpy as np

In [11]:
file = "purchase_data.csv"

In [12]:
data_file_pd = pd.read_csv(file)
data_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
PlayerCount = len(data_file_pd["SN"].unique())
playercount_disp = pd.DataFrame({"Player Count": [PlayerCount]})
playercount_disp

   Player Count
0           576

In [14]:
# Data manipulaton
UniqueItems = len(data_file_pd["Item Name"].unique())
AvgPurchase = data_file_pd["Price"].mean()
NumPurchase = len(data_file_pd["Item Name"])
Revenue = data_file_pd["Price"].sum()

# Create new DataFrame
Purchasing_Analysis_Total = pd.DataFrame({"Number of Unique Items": [UniqueItems],
                                           "Average Price": [AvgPurchase],
                                           "Number of Purchases": [NumPurchase],
                                           "Total Revenue": [Revenue]})

# DataFrame formatting
Purchasing_Analysis_Total["Average Price"] = Purchasing_Analysis_Total["Average Price"].map("${:.2f}".format)
Purchasing_Analysis_Total["Total Revenue"] = Purchasing_Analysis_Total["Total Revenue"].map("${:.2f}".format)
Purchasing_Analysis_Total = Purchasing_Analysis_Total[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

Purchasing_Analysis_Total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [15]:
# Data manipulation
duplicate = data_file_pd.drop_duplicates(subset='SN', keep="first")
TotalGen = duplicate["Gender"].count()
MaleGen = duplicate["Gender"].value_counts()['Male']
FemaleGen = duplicate["Gender"].value_counts()['Female']
NonGen = TotalGen - MaleGen - FemaleGen

MalePer = (MaleGen / TotalGen) * 100
FemalePer = (FemaleGen / TotalGen) * 100
NonPer = (NonGen / TotalGen) * 100

# Create new DataFrame
Gender_Demo = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                            "Percentage of Players": [MalePer, FemalePer, NonPer],
                            "Total Count": [MaleGen, FemaleGen, NonGen]})

# DataFrame formatting
Gender_Demo["Percentage of Players"] = Gender_Demo["Percentage of Players"].map("{:.2f}%".format)
Gender_Demo = Gender_Demo.set_index('')
Gender_Demo

                    Percentage of Players  Total Count

Male                               84.03%          484
Female                             14.06%           81
Other/Non-Disclosed                 1.91%           11

In [19]:
# Group by Gender
grouped_df = data_file_pd.groupby(["Gender"])

# Data Manipulation
purchCount = grouped_df["SN"].count()
purchPrice = grouped_df["Price"].mean()
purchValue = grouped_df["Price"].sum()

# Normalize data by deleting all duplicates adn resort
duplicate = data_file_pd.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicate.groupby(["Gender"])

# Find normalized data
purchNorm = (grouped_df["Price"].sum() / grouped_dup["SN"].count())

# Create new DataFrame
Purch_Gen = pd.DataFrame({"Purchase Count": purchCount,
                              "Average Purchase Price": purchPrice,
                              "Total Purchase Value": purchValue,
                              "Normalized Totals": purchNorm})

# DataFrame formatting
Purch_Gen["Average Purchase Price"] = Purch_Gen["Average Purchase Price"].map("${:.2f}".format)
Purch_Gen["Total Purchase Value"] = Purch_Gen["Total Purchase Value"].map("${:.2f}".format)
Purch_Gen["Normalized Totals"] = Purch_Gen["Normalized Totals"].map("${:.2f}".format)
Purch_Gen = Purch_Gen[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
Purch_Gen

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [20]:
# Binning
bins = [0,10,15,20,25,30,35,40,200]
binLab = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# Add bins to new dataframe and groupby
binning_df = data_file_pd.copy()
binning_df["Age Groups"] = pd.cut(binning_df["Age"], bins, labels=binLab)
binColumn = pd.cut(binning_df["Age"], bins, labels=binLab)
grouped_bin = binning_df.groupby(["Age Groups"])

# Data Manipulation
binPCount = grouped_bin["Age"].count()
binPAver = grouped_bin["Price"].mean()
binPTotal = grouped_bin["Price"].sum()

# Normalize data by deleting duplicates for new counts
binningduplicate = data_file_pd.drop_duplicates(subset='SN', keep="first")
binningduplicate["Age Groups"] = pd.cut(binningduplicate["Age"], bins, labels=binLab)
binningduplicate = binningduplicate.groupby(["Age Groups"])

binningNorm = (grouped_bin["Price"].sum() / binningduplicate["SN"].count())
binningNorm

# Create new DF and format
Age_Demo = pd.DataFrame({"Purchase Count": binPCount,
                         "Average Purchase Price": binPAver,
                         "Total Purchase Value": binPTotal,
                         "Normalized Totals": binningNorm})

Age_Demo["Average Purchase Price"] = Age_Demo["Average Purchase Price"].map("${:.2f}".format)
Age_Demo["Total Purchase Value"] = Age_Demo["Total Purchase Value"].map("${:.2f}".format)
Age_Demo["Normalized Totals"] = Age_Demo["Normalized Totals"].map("${:.2f}".format)
Age_Demo = Age_Demo[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
Age_Demo.head(10)

/Users/saraheshelden/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Groups,,,,
Under 10,32,$3.40,$108.96,$4.54
10 - 14,54,$2.90,$156.60,$3.82
15 - 19,200,$3.11,$621.56,$4.14
20 - 24,325,$3.02,$981.64,$4.23
25 - 29,77,$2.88,$221.42,$3.75
30 - 34,52,$2.99,$155.71,$4.21
35 - 39,33,$3.40,$112.35,$4.32
Over 40,7,$3.08,$21.53,$3.08

In [21]:
# Data Manipulation
groupedBySN = data_file_pd.groupby(["SN"])
groupedSNCount = groupedBySN["Item ID"].count()
groupedSNTotal = groupedBySN["Price"].sum()
groupedSNAvg = (groupedSNTotal / groupedSNCount)

# Build DF and format
SN_Demo = pd.DataFrame({"Purchase Count": groupedSNCount,
                         "Average Purchase Price": groupedSNAvg,
                         "Total Purchase Value": groupedSNTotal})

SN_Demo = SN_Demo.sort_values("Total Purchase Value", ascending=False) 
SN_Demo["Average Purchase Price"] = SN_Demo["Average Purchase Price"].map("${:.2f}".format)
SN_Demo["Total Purchase Value"] = SN_Demo["Total Purchase Value"].map("${:.2f}".format)
SN_Demo = SN_Demo[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
SN_Demo.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [22]:
# Data manipulation
groupItem = data_file_pd.groupby(["Item ID", "Item Name"])
groupItemC = groupItem["SN"].count()
groupPriceSum = groupItem["Price"].sum()
groupItemP = (groupPriceSum / groupItemC)
groupItemV = (groupItemP * groupItemC)

# New DF with formatting
Pop_Item = pd.DataFrame({"Purchase Count": groupItemC,
                          "Item Price": groupItemP,
                          "Total Purchase Value": groupItemV})

Pop_Item = Pop_Item.sort_values("Purchase Count", ascending=False) 
Pop_Item["Item Price"] = Pop_Item["Item Price"].map("${:.2f}".format)
Pop_Item["Total Purchase Value"] = Pop_Item["Total Purchase Value"].map("${:.2f}".format)
Pop_Item = Pop_Item[["Purchase Count", "Item Price", "Total Purchase Value"]]
Pop_Item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [24]:
# Data manipulation
groupedItem = data_file_pd.groupby(["Item ID", "Item Name"])
groupedItemC = groupedItem["Gender"].count()
groupedSum = groupedItem["Price"].sum()
groupedItemP = (groupedSum / groupedItemC)

# Make a new DF and format
Pop_Val = pd.DataFrame({"Purchase Count": groupedItemC,
                          "Item Price": groupedItemP,
                          "Total Purchase Value": groupedSum})

Pop_Val = Pop_Val.sort_values("Total Purchase Value", ascending=False) 
Pop_Val["Item Price"] = Pop_Val["Item Price"].map("${:.2f}".format)
Pop_Val["Total Purchase Value"] = Pop_Val["Total Purchase Value"].map("${:.2f}".format)
Pop_Val = Pop_Val[["Purchase Count", "Item Price", "Total Purchase Value"]]
Pop_Val.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80